<div id="homepage">
	<div class="container">
		<div class="col-md-9 col-sm-8 col-xs-12">
			<div class="post panel panel-default" ng-repeat="post in posts">
				<div class="title panel-heading">
					<a href="/news/{{ post.slug }}" ng-click="ViewPost(post)"><strong ng-bind="post.title"></strong></a>
				</div>
				<div class="panel-body">
					<div class="info">
						<div class="postby pull-left">
							<span class="glyphicon glyphicon-user"></span>
							<span ng-bind="post.author.name"></span>
						</div>
						<div class="posttime pull-left">
							<span class="glyphicon glyphicon-time"></span>
							<span ng-bind="post.date"></span>
						</div>
					</div>
					<div class="post-thumbnail">
						<img class="center-block" ng-src="{{ post.featured_image.source }}" alt="{{ post.title }}">
					</div>
					<div class="post-content">
						<div ng-bind-html="post.content | shortContent:450 | unsafe"></div>
					</div>
				</div>
			</div>
			<div class="spinner" ng-show="Loading">
				<div>
					<img ng-src="{{ THEME_URI }}/images/loading.gif" alt="">
				</div>
			</div>
		</div> <!-- col-1 -->
		<div class="sidebar col-md-3 col-sm-4 hidden-xs">
			<question-block category-name="questions" number-posts="10"></question-block>
		</div> <!-- col-2 -->
	</div>
</div>